.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #44374b;
  color: #fff;
}

.add {
  font: inherit;
  background-color: #ddb0eb;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 2px;
  width: 40%;
  transform: translate(55%, -50%);
}

.add:hover {
  background-color: #daa4eae6;
  color: #fff;
}

td, th {
  background-color: transparent;
  border: 0.5px solid #ddb0eb3b;
  text-align: left;
  padding: 8px;
}